{% load staticfiles %}
<head>
    <link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css">
</head>

<body>


<div class="centered">
<div class="logo">
    <img src="{% static "img/logo_med.png" %}"></img>
</div>
<div class="content">

    <form class="form-horizontal" name="LoginForm" action="/accounts/login" method="post">
    {% csrf_token %}
    {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="username"  placeholder="">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" name="password" id="password" placeholder="">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
    </form>
</div>
</div>
</body>